asgiref==3.8.1
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==45.0.3
defusedxml==0.7.1
distlib==0.3.9
Django==5.1.6
django-allauth==65.8.1
django-cors-headers==4.7.0
django-filter==25.1
django-suit @ https://github.com/darklow/django-suit/tarball/v2#sha256=87ef7f5182d81b6f204e9a7fefab86d92f985a62b15901178168046a2252bd59
django-taggit==6.1.0
djangorestframework==3.16.0
dnspython==2.5.0
filelock==3.18.0
idna==3.10
Markdown==3.8
oauthlib==3.2.2
pillow==11.1.0
platformdirs==4.3.7
psycopg2-binary==2.9.10
pycparser==2.22
PyJWT==2.10.1
pymongo==4.6.1
pyparsing==3.2.3
python3-openid==3.2.0
rdflib==7.1.4
requests==2.32.3
requests-oauthlib==2.0.0
setuptools==69.0.3
social-auth-app-django==5.4.3
social-auth-core==4.6.1
SPARQLWrapper==2.0.0
sqlparse==0.5.3
stripe==12.0.1
typing_extensions==4.13.2
tzdata==2025.1
urllib3==2.4.0
virtualenv==20.29.3
wheel==0.42.0
